# Игнорировать файлы и папки временных данных
*.log
*.tmp
*.temp

# Игнорировать папки сборки
/build/
/dist/

# Игнорировать файлы конфигурации среды
.env
*.env.local

# Игнорировать системные файлы
.DS_Store
Thumbs.db

.vscode/
.idea/
